@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Poppins:wght@300;700&display=swap');

:root{
    --main-color:#1af8ed;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    display:flex;
    align-items: center;
    min-height: 100vh;
    padding:1.5rem;
    
}
body::after{
        content:'';
        position: fixed;
        inset:0;
        background-color:#1af8ed;
        width:60%;
        height:100vh;
        clip-path: polygon(0 100%, 0 0, 100% 0,70% 100%);
        z-index: -1;
}